<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
<!-- 		<Console name="Console" target="SYSTEM_OUT"> -->
<!-- 			<PatternLayout pattern="%5p [%15c] (%F:%L) - %m%n" /> -->
<!-- 		</Console> -->
		<File name="File" fileName="/tmp/mudclient.txt">
			<PatternLayout pattern="%8p [%12c] (%F:%L) - %m%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="File" />
		</Root>
    	<Logger name="sun" level="ERROR"/>
    	<Logger name="xml" level="WARN"/>
    	<Logger name="jdk" level="warn"/>
    	<Logger name="java" level="INFO"/>
    	<Logger name="javafx" level="INFO"/>
    	<Logger name="network" level="TRACE"/>
    	<Logger name="telnet" level="INFO"/>
    	<Logger name="telnet.lvl1" level="WARN"/>
    	<Logger name="org.prelle.ansi" level="DEBUG"/>
    	<Logger name="gmcp" level="ERROR"/>
    	<Logger name="mud" level="DEBUG"/>
    	<Logger name="mud.client" level="ERROR"/>
    	<Logger name="mud.mxp" level="DEBUG"/>
    	<Logger name="terminal.unix" level="WARN"/>
    	<Logger name="org.prelle.ansi" level="TRACE"/>
	</Loggers>
</Configuration>
